p {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}

TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 800px;
}
TH, TD {
    border: 2px solid black; /* Параметры рамки */
    text-align: center; /* Выравнивание по центру */
    padding: 4px; /* Поля вокруг текста */
}
TH {
    background: #0000FF; /* Цвет фона ячейки */
    height: 40px; /* Высота ячеек */
    vertical-align: bottom; /* Выравнивание по нижнему краю */
    padding: 0; /* Убираем поля вокруг текста */
    color: white;
}

TD {
   font-size: 18px;
}

.fio {
    width: 250px;
}
.№ {
    width: 75px;
}
.tb {
    overflow: scroll;
    text-align: center;
    height: 50px;
}

.one {
    overflow: auto;
    width: 820px;
    height: 310px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.two {
    overflow: auto;
    width: 820px;
    height: 300px;
    margin-left: 170px;
}

.zagl {
    font-size: 45px;
    color: #0000FF;
}